/* Generelt */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-color: #fbfaf3;
    color: #334151;
}

h1 {
    margin: 75px 25px 25px 25px;
    text-align: center;
}

#articles {
    grid-column: 1fr;
    margin: 15px 25px 25px 25px;
}

#articles h2 {
    margin-top: 5px;
}

img {
    width: 100%;
}

article {
    margin-bottom: 20px;
    border-bottom: 3px solid #8fc9bc;
}

article:last-child {
    border-bottom: none;
}

.overskrift {
    cursor: pointer;
    opacity: 1;
}
.overskrift:hover {
    cursor: pointer;
    opacity: 0.7;
}

.billede {
    opacity: 0.9;
    transition: all 0.5s ease;
}

.billede:hover {
    opacity: 0.7;
    cursor: pointer;
}


/** Single **/

h3 {
    padding-top: 20px;
    border-top: 3px solid #8fc9bc;
}

.singleoverskrift {
    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 3px solid #8fc9bc;
}

.hours {
    padding-top: 20px;
    padding-bottom: 20px;
}

p {
   margin-bottom: 20px;
    line-height: 1.5
}

p:nth-child(2) {
    padding-top: 10px;
}

.wrapper {
    margin-top: 80px;
}

#map {
	margin: 0 auto;
	margin-bottom: 3vw;
	border: 1px solid;

	width: 100%;
	height: 40vh;
}

input#submit {
display: none;
}



/** om os **/

.wrapper2 {
    margin: 25px;
}


.wrapper2 input {
    background-color: white;
    border: 0;
}

.wrapper2 h3 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.5em;
}

h4 {
    margin: 20px 0;
    line-height: 1.5;
}



/* Footer */

footer {
    background-color: #334151;
    color: #fbfaf3;
    width: calc(100% - 100px);
    margin: 25px;
    padding: 25px;
    text-align: center;
    font-size: 0.9em;
}

footer p {
    margin-top: 15px;
    margin-bottom: 0px;
}

footer img {
    width: 50px;
    padding: 10px;
    opacity: 0.95;
    transition: 0.3s ease all;
}

footer img:hover {
    opacity: 0.7;
}


/* Booking Field */
textarea {
    resize: none;
    width: 100%;
    border: none;
    margin-top: 10px;
}

input {
    width: 100%;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    border: none;
}

input:last-child {
    margin-top: 10px;
    margin-bottom: 0;
}

form {
    margin-top: 20px;
}

.menukort {
    display: block;
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 100%;
    background: #334151;
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    margin-bottom: 30px;
    transition: 0.3s all ease;
}

.menukort:hover {
    opacity: 0.8;
}













/*** Menu ***/
/*** https://jsfiddle.net/ug6f918s/423/?utm_source=website&utm_medium=embed&utm_campaign=ug6f918s ***/

/* Header */

.header {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
    top: 0;
}

.header img {
    height: auto;
    width: 100px;
    margin-top: 7px;
    margin-left: calc(50% - 50px);
}

a {
    color: #334151;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-top: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}


/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #334151;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #334151;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

      #floating-panel {

      }
